# --- Google Provider ---
service_account_path                        = "../../service-accnt.json"
project                                     = "name-of-project"
ha                                          = "yes"
asg                                         = ""
server                                      = ""
prefix                                      = "cp-ncc"
ncc_hub_name                                = "cp-ncc-hub"
# --- Check Point Deployment---
image_name                                  = "check-point-r8120-gw-byol-cluster-631-991001383-v20230907"              # "check-point-r8120-gw-byol-cluster"
image_single_name                           = "check-point-r8120-gw-byol-single-631-991001383-v20230907"              # "check-point-r8120-gw-byol-single"
installationType                            = "Cluster"
gw_installationType                         = "Cluster"
license                                     = "BYOL"
management_nic                              = "Ephemeral Public IP (eth0)"
admin_shell                                 = "/bin/bash"
enableMonitoring                            = true
admin_SSH_key                               = "ssh-rsa blablabla bla"
generatePassword                            = false
allowUploadDownload                         = true
sicKey                                      = ""                                                    #"qwe123qew123"
managementGUIClientNetwork                  = "0.0.0.0/0"
primary_cluster_address_name                = "ncc-pri-clust-addr"
secondary_cluster_address_name              = "ncc-sec-clus-addr"
#management_name                             = ""
# --- Networking---
region                                      = "us-east1" #"us-central1"
region2                                     = "us-central1"  #"us-east1"
mgmt_region                                 = "us-east4"
mgmt_zone                                   = "us-east4-a"
zone                                        = "us-east1-b"  #"us-central1-a"
zoneA                                       = "us-east1-b"   #"us-central1-a"
zoneB                                       = "us-east1-c"  #"us-central1-b"
zoneC                                       = "us-central1-b"  #"us-east1-b"
zoneD                                       = "us-central1-a"
network                                     = ["ncc-spoke1","ncc-management","ncc-spoke2","ncc-management2"]
subnetwork                                  = ["ncc-spoke1-sub","ncc-mgmt-sub","ncc-spoke2-sub","ncc-mgmt2-sub"]
network_enableTcp                           = true
network_tcpSourceRanges                     = ["0.0.0.0/0"]
network_enableGwNetwork                     = false
#network_gwNetworkSourceRanges               = [""]
network_enableIcmp                          = false
#network_icmpSourceRanges                    = [""]
network_enableUdp                           = false
#network_udpSourceRanges                     = [""]
network_enableSctp                          = false
#network_sctpSourceRanges                    = [""]
network_enableEsp                           = false
#network_espSourceRanges                     = [""]
numAdditionalNICs                           =  1
externalIP                                  = "static"
internal_network1_network                   =  ["ncc-int-traffic","ncc-internal", "ncc-spokeinteral"]
internal_network1_subnetwork                =  ["ncc-int-traffic-sub","ncc-internal-sub", "ncc-spokeintsub"]
internal_network2_network                   = [ "ncc-int_nw_2" ]
internal_network2_subnetwork                = [ "ncc-intnw2-sub" ]
internal_network2_cidr                      = ["10.1.0.0/24"]
internal_network2_str                       = ["10.1.0."]
internal_network3_network                   = [ "ncc-int_nw_3" ]
internal_network3_subnetwork                = [ "ncc-intnw3_sub" ]
internal_network3_cidr                      = ["10.21.0.0/24"]
# --- Instances configuration---
machine_type                                = "n1-standard-4"
diskType                                    = "SSD Persistent Disk"
bootDiskSizeGb                              = 100
new_subnet_0_cidr                           = ["10.150.0.0/24","10.10.0.0/24","172.20.0.0/24","10.50.0.0/24"]
new_subnet_1_cidr                           = ["10.150.1.0/24","10.10.1.0/24","172.20.1.0/24"]
new_subnet_0_str                            = ["10.150.0.","10.10.0.","172.20.0.","10.50.0."]
new_subnet_1_str                            = ["10.150.1.","10.10.1.","172.20.1."]
ha_vip                                      = "2"
ha_a_ip                                     = "3"
ha_b_ip                                     = "4"
mgmt_ip                                     = "100"
smart_1_cloud_token_a                       = ""
smart_1_cloud_token_b                       = ""